/* Media Queries for Responsiveness */

body {
    font-family: 'DM Sans', sans-serif;
}

/* Mobile styles */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .nav-menu {
        display: none;
    }

    .about-description-container {
        padding: 10px;
    }
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 900px) {
    body {
        font-size: 16px;
    }

    .nav-menu {
        display: block;
    }

    .about-description-container {
        padding: 20px;
    }
}

/* Desktop styles */
@media (min-width: 901px) and (max-width: 1200px) {
    body {
        font-size: 18px;
    }

    .nav-menu {
        display: block;
    }

    .about-description-container {
        padding: 30px;
    }
}

/* TV styles */
@media (min-width: 1201px) {
    body {
        font-size: 20px;
    }

    .nav-menu {
        display: block;
    }

    .about-description-container {
        padding: 40px;
    }
}
